body{
    background-color: #E5BA73;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pnama{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #EA99D5;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        display: inline-block;
        cursor: pointer;
        font-size: 9pt;
}

#pumur{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #99FEFF;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 100px;
        height: 35px;
        font-size: 9pt;
}

#pjk{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #99FEFF;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 210px;
        height: 30px;
        font-size: 9pt;
}

#pnk{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #8BDB81;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 210px;
        height: 30px;
        font-size: 9pt;
}

#ptp{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #FFAFAF;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 320px;
        height: 80px;
        font-size: 9pt;
}

#plyn{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: #C69B7B;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 320px;
        height: 110px;
        font-size: 9pt;
}

#pks{
    font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        border: 2px solid rgba(0,0,200,0.6);
        background: peachpuff;
        color: black;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
        width: 250px;
        height: 80px;
        font-size: 9pt;
}

#btn{
    background-color: powderblue;
    font-size: 15pt;
}